/* variabler */
:root{
    --lysegrå: #ebebeb;
    --lyseblå: #dbe5ff;
    --mørkeblå: #1d4db3;
    --mørkegrå: #4d4d4d;
    --hvit: #fff;
}

/* styling */

*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}


#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

.hovedmeny{
    display: flex;
    flex-direction: row;
    background-color: var(--hvit);
    border-bottom: 1px solid #000;
    grid-area: "header";
    height: 13.333vw;
}

.logo-navbar{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.meny{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    overflow: hidden;
}

.venstre{
    justify-content: left;
}

.høyre{
    justify-content: right;
}

.søkebaren{
    display: none;
}

.hamburgermeny{
    font-size: 6.667vw;
    display: flex;
    gap: 0.5rem;
    list-style: none;
    float: left;
    padding: 10px; 
}

.meny .logo{
    font-size: 8vw;
    display: flex;
    gap: 0.5rem;
    padding: 5px;
    justify-content: left;
}

.navikoner{
    display: flex;
    justify-content: right;
}

.meny ul{
    font-size: 6.667vw;
    display: flex;
    gap: 0.5rem;
    list-style: none;
    float: right;
}
.meny ul li{
    font-size: 6.667vw;
    display: flex;
    gap: 0.5rem;
    list-style: none;
    float: left;
    padding: 10px;
}

.navbar{
    display: none;
}

img{
    max-width: 100%;
}

.kategori-btn{
    background-color: var(--mørkeblå);
    text-decoration-color: #fff;
    padding:10px;
    border-radius: 10.667vw;
}

button{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none;
    float: right;
}

.her_er_du{
    display: flex;
    gap: 0.5rem;
    list-style: none;
    float: left;
    padding: 10px;
}

/* forside */

#forside{
    grid-area: "main";
}

/* forside første del */

#forside-banner{
    background-color: var(--lysegrå);
    padding: 5px 0px 0px 0px;
    max-width: 100%;
    background-image:url("../img/høst_blader.png");
    background-position: top;
    background-size:contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

#circlecontainer{
    margin: 1.337vw 16vw;
}

#circle{
    display: table-cell;
    height: 66.667vw;
    width: 66.667vw;
    margin: 0 auto;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    background: var(--mørkeblå);
}

#circle h2{
    font-size: 6.133vw;
    font-weight: 500;
}

#circle p{
    font-weight: 300;
    font-size: 5.333vw;
}

.containerbilde{
    position: relative;
    text-align: center;
    color: white;
    padding-top: 5px;
}

.containerbilde img{
    text-align: center;
    color: white;
    padding-top: 5px;
}

.sentrerttoppbilde{
    position:absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
    font-size: 6.667vw;
    white-space: nowrap;
  }

.sentrertbunnknapp .kategori-btn{
    position:absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--lyseblå);
    text-decoration-color: var(--hvit);
    padding:2.667vw 5.333vw;
    border-radius: 10.667vw;
    font-size: 5.333vw;
    font-weight: 300;
}

.containerbilde .sidepiler .sidepil-høyre{
    position:absolute;
    top: 50%;
    right: 1%;
    transform: translate(-50%, -50%);
    font-size: 5.333vw;background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none;
}

.sidepil-høyre .glyphicon-chevron-right{
    font-size: 5.333vw;
}

.containerbilde .sidepiler .sidepil-venstre{
    position:absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    font-size: 5.333vw;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none;
}

.sidepil-venstre .glyphicon-chevron-left{
    font-size: 5.333vw;
}

/* Forside andre del */

#forside-skokategorier{
    display: flex;
    flex-direction: column;
    background-color: var(--lyseblå);
    overflow: hidden;
    align-items: center;
}

#forside-skokategorier h2{
    font-size: 10.667vw;
    text-align: center;
    padding: 10px;
    font-weight: 300;
}

#forside-skokategorier{
    padding: 10px;
    align-items: center;
}

.kategorier{
    list-style: none;
    text-decoration: none;
}

.kategorier li{
    list-style: none;
    text-decoration: none;
    padding: 10px;
}

#kvinnekategori .kategori-btn{
    display: table;
    margin: 0 auto;
    font-size: 6.667vw;
    max-width: max-content;
    padding: 10px 40px 10px 40px;
    font-weight: 300;
    border-radius: 10.667vw;
}

#mannekategori .kategori-btn{
    display: table;
    margin: 0 auto;
    font-size: 6.667vw;
    max-width: max-content;
    padding: 10px 50px 10px 50px;
    font-weight: 300;
    border-radius: 10.667vw;
}

#barnekategori .kategori-btn{
    display: table;
    margin: 0 auto;
    font-size: 6.667vw;
    max-width: max-content;
    padding: 10px 50px 10px 50px;
    font-weight: 300;
    border-radius: 10.667vw;
}

#kvinnekategori img{
    max-width: 100%;
    height: auto;
    display: table;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

#mannekategori img{
    max-width: 100%;
    height: auto;
    display: table;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

#barnekategori img{
    max-width: 100%;
    height: auto;
    display: table;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Forside tredje del - brukes også til produktsiden som har samme section */

.fremhev-produkt{
    grid-area: "footer";
}

.fremhevede-produkter{
    background-color: var(--lysegrå);
    overflow: hidden;
    column-span: all;
}

.selveprodukt3{
    display: none;
}

.fremhevede-produkter h2{
    font-size: 9.333vw;
    text-align: center;
    padding: 10px;
    font-weight: 300;
    white-space: nowrap;
}

.produkterfremhevetliste{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    list-style: none;
    display: block;
}

.produkterfremhevetliste li{
    display: inline;
}

.produkterfremhevetliste h3{
    text-decoration: none;
    color: #000;
    font-size: 5.333vw;
    padding: 5px 5px 0px 5px;
}

.produkterfremhevetliste p{
    text-decoration: none;
    color: #000;
    font-size: 4.800vw;
    padding: 0px 5px 0px 5px;
}

.produkterfremhevetliste img{
    height: 48vw;
    width: 48vw;
    object-fit: cover;
}

.produkterfremhevetliste .førsteprodukt{
    text-align: left;
    float: left;
}

.produkterfremhevetliste .andreprodukt{
    text-align: left;
    float: right;
}

.sidepiler-produkter{
    font-size: 5.333vw;
}

.sidepil-høyre{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none;
    float: right;
}

.sidepil-venstre{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none;
    float: left;
}

/* Produktside andre del */

#produktside .fremhevede-produkter{
    background-color: var(--lyseblå);
    overflow: hidden;
}

/* Produktresultater */

#produktresultater .kategori-btn{
    color: #fff;
    border: none;
}

.favorittprodukt{
    background: transparent;
    border: none;
    text-align: inherit;
    font: inherit;
    appearance: none;
}

/* desktop styles */


/* Forsiden på desktop */

@media only screen and (min-width: 1000px){
    #grid-container{
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }

    /* header */

    .hovedmeny{
        display: block;
        flex-direction: row;
        width: 100%;
        grid-column: 1/-1;
        height: 5.958vw;
    }

    .meny{
        display: flex;
        overflow: hidden;
        white-space: nowrap;
    }

    .venstre{
        justify-content: left;
        overflow: hidden;
        white-space: nowrap;
    }

    .høyre{
        justify-content: right;
        overflow: hidden;
        white-space: nowrap;
    }

    .logo-navbar{
        display: flex;
        flex-direction: row;
        margin-top: 0.883vw;
    }

    .navbar{
        display: flex;
        gap: 0.5rem;
        padding: 5px;
        float: left;
        overflow: hidden;
        white-space: nowrap;
    }

    .navbar li a{
        font-size: 1.604vw;
        gap: 0.5rem;
        padding: 5px;
        float: left;
    }

    .hamburgermeny ul li{
        font-size: 2.139vw;
        display: flex;
        gap: 0.5rem;
        list-style: none;
        float: left;
        padding: 0.535vw; 
    }
    .meny .logo{
        font-size: 3.209vw;
        display: flex;
        gap: 0.5rem;
        padding: 5px;
        float: left;
    }

    .navikoner .mobilsøk{
        display: none;
    }

    .søkebaren{
        display: flex;
        max-width:400px;
        margin:auto;
        position: relative;
    }
    .søkebarikoner i {
        position: absolute;
        top: 15%;
        right: 2%;
        transform: translate(-15%, -2%);
    }
      
    .søkebarikoner {
        width: 100%;
        margin-bottom: 0.535vw;
        font-size: 1.604vw;
    }
      
    .icon {
        padding: 0.535vw 0.535vw 0.535vw 2.674vw;
        min-width: 2.139vw;
    }
      
    .input-field {
        width: 100%;
        padding: 0.535vw;
        text-align: left;
        margin-bottom: 3px;
        border-radius: 2.674vw;
        font-size: 1.070vw;
        padding: 0.535vw 5.348vw 0.535vw 1.070vw;
    }

    .meny ul{
        display: flex;
        gap: 0.5rem;
        list-style: none;
        float: right;
    }
    .meny ul li{
        font-size: 3.209vw;
        display: flex;
        gap: 0.5rem;
        list-style: none;
        float: left;
        padding: 1.070vw;
    }

    /* forside desktop */

    #forside{
        grid-area: "main";
        grid-column: 1/-1;
        display: flex;
        flex-direction: column;
    }

    #forside-banner{
        display: flex;
        max-width: fit-content;
        flex-direction: row;
        background-color: var(--lysegrå);
        padding: 5px 0px 0px 0px;
        max-width: 100%;
        background-image:url("../img/høst_blader.png");
        background-position: top;
        background-size:cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    #circlecontainer{
        max-width: 26.738vw;
        max-height: 26.738vw;
        margin: 10.027vw 1.337vw;
    }

    #circle{
        display: table-cell;
        height: 26.738vw;
        width: 26.738vw;
        margin: 0 auto;
        color: #fff;
        vertical-align: middle;
        text-align: center;
        border-radius: 50%;
        background: var(--mørkeblå);
    }
    
    #circle h2{
        font-size: 2.674vw;
        font-weight: 500;
    }
    
    #circle p{
        font-weight: 300;
        font-size: 2.005vw;
    }

    .containerbilde{
        position: relative;
        text-align: right;
        color: white;
        padding-top: 5px;
        max-width: 60.160vw;
    }
    
    .containerbilde img{
        text-align: center;
        color: white;
        padding-top: 5px;
        margin: 2.005vw;
    }
    
    .sentrerttoppbilde{
        position:absolute;
        top: 12%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 300;
        font-size: 4.011vw;
        white-space: nowrap;
      }
    
    .sentrertbunnknapp .kategori-btn{
        position:absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--lyseblå);
        text-decoration-color: var(--hvit);
        padding: 0.668vw 1.337vw;
        border-radius: 3.342vw;
        font-size: 2.005vw;
        font-weight: 300;
    }
    
    .containerbilde .sidepiler .sidepil-høyre{
        position:absolute;
        top: 50%;
        right: 0.5%;
        transform: translate(-50%, -50%);
        font-size: 5.333vw;background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        text-align: inherit;
        font: inherit;
        border-radius: 0;
        appearance: none;
    }
    
    .sidepil-høyre .glyphicon-chevron-right{
        font-size: 2.674vw;
    }
    
    .containerbilde .sidepiler .sidepil-venstre{
        position:absolute;
        top: 50%;
        left: 10%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        text-align: inherit;
        font: inherit;
        border-radius: 0;
        appearance: none;
    }
    
    .sidepil-venstre .glyphicon-chevron-left{
        font-size: 2.674vw;
    }
    
    #containerforside1{
        display: flex;
        justify-content: right;
    }

    /* forside andre del */

    #forside-skokategorier{
        grid-area: "main";
        grid-column: 1/-1;
        display: flex;
        flex-direction: column;
    }

    #forside-skokategorier h2{
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 3.342vw;
    }

    .kategorier{
        display: flex;
        flex-direction: row;
        width: 100%;
        list-style: none;
        text-decoration: none;
        justify-content: center;
    }

    .kategorier li{
        list-style: none;
        padding: 1.337vw;
        display:inline-block;
    }

    
    #kvinnekategori .kategori-btn{
        display: table;
        margin: 0 auto;
        font-size: 2.674vw;
        max-width: max-content;
        padding: 0.668vw 2.674vw;
        font-weight: 300;
        border-radius: 3.342vw;
    }
    
    #mannekategori .kategori-btn{
        display: table;
        margin: 0 auto;
        font-size: 2.674vw;
        max-width: max-content;
        padding: 0.668vw 3.676vw;
        font-weight: 300;
        border-radius: 3.342vw;
    }
    
    #barnekategori .kategori-btn{
        display: table;
        margin: 0 auto;
        font-size: 2.674vw;
        max-width: max-content;
        padding: 0.668vw 4.345vw;
        font-weight: 300;
        border-radius: 3.342vw;
    }
    
    #kvinnekategori img{
        width: fit-content;
        max-height: 40.107vw;
        display: table;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    #mannekategori img{
        width: fit-content;
        max-height: 40.107vw;
        display: table;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    #barnekategori img{
        width: fit-content;
        max-height: 40.107vw;
        display: table;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    /* forside tredje del */

    .selveprodukt3{
        display: flex;
    }
    
    .fremhev-produkt{
        grid-area: "main";
        grid-column: 1/-1;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--lysegrå);
    }


    .fremhevede-produkter h2{
        font-size: 3.342vw;
        width: 100%;
    }
    
    .produkterfremhevetliste{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        list-style: none;
        display: block;
        column-span: all;
    }
    
    .produkterfremhevetliste li{
        display: block;
    }
    
    .produkterfremhevetliste h3{
        text-decoration: none;
        color: #000;
        font-size: 2.674vw;
        padding: 0.334vw 0.334vw 0px 0.334vw;
    }
    
    .produkterfremhevetliste p{
        text-decoration: none;
        color: #000;
        font-size:2.005vw;
        padding: 0px 0.334vw;
    }
    
    .produkterfremhevetliste img{
        height: 20.053vw;
        width: 20.053vw;
        width: 100%;
        object-fit: cover;
    }
    
    .produkterfremhevetliste .førsteprodukt{
        text-align: left;
        float: left;
    }
    
    .produkterfremhevetliste .andreprodukt{
        text-align: left;
        float: left
    }

    .produkterfremhevetliste .tredjeprodukt{
        float: left;
    }

    .sidepiler{
        display: block;
    }

    .sidepiler-til-venstre{
       float: left;
    }

    .sidepil-venstre{
        float: left;
    }
    
    /* Produktside andre del */
    
    #produktside .fremhevede-produkter{
        background-color: var(--lyseblå);
        overflow: hidden;
    }
    
    }