/* variabler */
:root{
    --lysegrå: #ebebeb;
    --lyseblå: #dbe5ff;
    --mørkeblå: #1d4db3;
    --mørkegrå: #4d4d4d;
    --hvit: #fff;
}

/* styling */

*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: var(--hvit);
    border-bottom: 1px solid #000;
}
.meny{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.hamburgermeny{
    font-size: 25px;
    display: flex;
    gap: 0.5rem;
    list-style: none;
    float: left;
    padding: 10px; 
}

.meny span{
    font-size: 30px;
    display: flex;
    gap: 0.5rem;
    padding: 5px;
    float: left;
}

.meny ul{
    font-size: 25px;
    display: flex;
    gap: 0.5rem;
    list-style: none;
    float: right;
}
.meny ul li{
    font-size: 25px;
    display: flex;
    gap: 0.5rem;
    list-style: none;
    float: left;
    padding: 10px;
}

img{
    max-width: 100%;
}

.kategori-btn{
    background-color: var(--mørkeblå);
    text-decoration-color: #fff;
    padding:10px;
    border-radius: 20px;
}


/* forside */

/* forside første del */
#forside-banner{
    background-color: var(--lysegrå);
    padding: 5px 0px 0px 0px;
    max-width: 100%;
    background-image:url("../img/høst_blader.png");
    background-position: top;
    background-size:contain;
    background-repeat: no-repeat;
}

.circle{
    display: table-cell;
    height: 350px;
    width: 350px;
    margin: auto;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    background: var(--mørkeblå);
}

.circle h1{
    font-size: 35px;
}

.circle p{
    font-weight: 300;
    font-size: 25px;
}

.containerbilde{
    position: relative;
    text-align: center;
    color: white;
    padding-top: 5px;
}

.containerbilde h2{
    font-weight: 300;
    font-size: 25px;
    white-space: nowrap;
}
.sentrerttoppbilde{
    position:absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.sentrertbunnknapp .kategori-btn{
    position:absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--lyseblå);
    text-decoration-color: var(--hvit);
    padding:10px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 300;
}

.containerbilde .sidepiler .sidepil-høyre{
    position:absolute;
    top: 50%;
    right: 2%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.containerbilde .sidepiler .sidepil-venstre{
    position:absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

/* Forside andre del */

#forside-skokategorier{
    background-color: var(--lyseblå);
    overflow: hidden;
    align-items: center;
}

#forside-skokategorier h2{
    font-size: 40px;
    text-align: center;
    padding: 10px;
    font-weight: 300;
}

#forside-skokategorier{
    padding: 10px;
    align-items: center;
}


#kvinnekategori .kategori-btn{
    display: table;
    margin: 0 auto;
    font-size: 25px;
    max-width: max-content;
    padding: 10px 40px 10px 40px;
    font-weight: 300;
}

#mannekategori .kategori-btn{
    display: table;
    margin: 0 auto;
    font-size: 25px;
    max-width: max-content;
    padding: 10px 50px 10px 50px;
    font-weight: 300;
}

#barnekategori .kategori-btn{
    display: table;
    margin: 0 auto;
    font-size: 25px;
    max-width: max-content;
    padding: 10px 50px 10px 50px;
    font-weight: 300;
}

#kvinnekategori img{
    max-width: 100%;
    height: auto;
    display: table;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

#mannekategori img{
    max-width: 100%;
    height: auto;
    display: table;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

#barnekategori img{
    max-width: 100%;
    height: auto;
    display: table;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Forside tredje del */

.fremhevede-produkter1{
    background-color: var(--lysegrå);
    overflow: hidden;
}

.fremhevede-produkter1 h2{
    font-size: 35px;
    text-align: center;
    padding: 10px;
    font-weight: 300;
    white-space: nowrap;
}

.produkterfremhevetliste{
    display: block;
    gap: 0.5rem;
    list-style: none;
    align-items: center;
}

.produkterfremhevetliste ul h3{
    font-size: 25px;
    color: #000;
    padding: 5px 5px 0px 5px;
}

.produkterfremhevetliste ul p{
    font-size: 20px;
    max-width: fit-content;
    color: #000;
    padding: 0px 5px 0px 5px;
}

.produkterfremhevetliste .produkten .selveproduktet{
    float: left;
    align-items: left;
    width:  200px;
    height: 200px;
    object-fit: cover;
    text-align: left;
}

.produkterfremhevetliste .produktto .selveproduktetto{
    float: right;
    align-items: right;
    width:  200px;
    height: 200px;
    object-fit: cover;
    text-align: left;
}

.produkten img{
    width:  200px;
    height: 200px;
    object-fit: cover;
}

.produktto img{
    width:  200px;
    height: 200px;
    object-fit: cover;
}

.sidepiler-produkter{
    display: flex;
}
.sidepiler-produkter .venstre{
    text-align: left;
}

.sidepiler-produkter .høyre{
    text-align: right;
}

/* mobile styles */

/* small tablet styles */

/* large tablet styles */

/* laptop styles */

/* desktop styles */
